<div class="password-container">
  <div class="background-overlay"></div>

  <div class="password-card">
    <div class="logo-section">
      <div class="logo-circle">🔐</div>

      <h1>MAEL ESPECIEROS</h1>

      <span> Primer ingreso al sistema </span>
    </div>

    <div class="separator"></div>

    <div class="floating-label">
      <input
        type="password"
        id="pass-actual"
        class="premium-input"
        placeholder="Ingrese su contraseña actual"
        [(ngModel)]="passwordActual"
      />
      <label for="pass-actual">Contraseña actual</label>
    </div>

    <div class="floating-label">
      <input
        type="password"
        id="pass-nueva"
        class="premium-input"
        placeholder="Ingrese la nueva contraseña"
        [(ngModel)]="passwordNueva"
      />
      <label for="pass-nueva">Nueva contraseña</label>
    </div>

    <div class="floating-label">
      <input
        type="password"
        id="pass-conf"
        class="premium-input"
        placeholder="Repita la nueva contraseña"
        [(ngModel)]="confirmarPassword"
      />
      <label for="pass-conf">Confirmar contraseña</label>
    </div>

    <button class="btn-save" (click)="cambiarPassword()">
      <i class="fa-solid fa-lock"></i> Guardar contraseña
    </button>
  </div>
</div>
