<div class="password-container">
  <div class="background-overlay"></div>

  <div class="password-card">
    <div class="logo-section">
      <div class="logo-circle">🔐</div>

      <h1>MAEL ESPECIEROS</h1>

      <span> Primer ingreso al sistema </span>
    </div>

    <div class="separator"></div>

    <div class="form-group">
      <label> Contraseña actual </label>

      <input
        type="password"
        placeholder="Ingrese su contraseña actual"
        [(ngModel)]="passwordActual"
      />
    </div>

    <div class="form-group">
      <label> Nueva contraseña </label>

      <input
        type="password"
        placeholder="Ingrese la nueva contraseña"
        [(ngModel)]="passwordNueva"
      />
    </div>

    <div class="form-group">
      <label> Confirmar contraseña </label>

      <input
        type="password"
        placeholder="Repita la nueva contraseña"
        [(ngModel)]="confirmarPassword"
      />
    </div>

    <button class="btn-save" (click)="cambiarPassword()">Guardar contraseña</button>
  </div>
</div>
